.v-click{
    cursor: pointer;
}
.v-flex{
  display: flex;
}
.v-mgtop-n-26{
  margin-top: -26px !important;
}
.v-mgtop-10{
  margin-top: 10px;
}
.v-pdbt-05{
  padding-bottom: 5px;
}
.v-bg-white{
  background-color: #fff;
}



.v-tdud{
  text-decoration: underline;
}